* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* INDEX */
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}

.footer {
    background-color: rgba(255, 0, 0, 0.26);
    display: flex;
    height: 100px;
    margin-top: 75px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.recetitas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid 1px black;
}


/* RECETA */
.bodyreceta{
    background-image: url(https://plus.unsplash.com/premium_photo-1701628122543-bc5cc576c4c9?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8cmVkJTIwZ3JhZGllbnR8ZW58MHwwfDB8fHww);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #AE2012;
    height: 100vh;
}
.bodyreceta .foto img{
    width: 500px;
    border-radius: 40px;
}
.paraelnombre{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    font-size: 38px;
}

.paraeltexto{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 50px 5px 50px;
    align-items: center;
    padding: 40px;
}


.paraeltexto .instrucciones{
    color: rgb(76, 43, 26);
    display: flex;
    width: 670px;
    font-weight: 400;
}

.paraeltexto .tiempo{
    width: 200px;
    justify-content: center;
    font-weight: 600;
    text-align: center;
}

.paraeltexto .foto img{
    width: 500px;
}

.paracategoria{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    color: burlywood;
}

/* CATEGORIES */

.bodycategories{
    background-image: url(https://plus.unsplash.com/premium_photo-1699795944099-12dcf3266a55?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}
.cat .veinte{
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
    
  }
.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 150px 30px 30px 30px;
    background-color: rgba(255, 253, 208, 0.5);
    border-radius: 70px;
}
.cat{
    display: flex;
    padding: 20px 70px 20px 70px;
    margin-top: 12px;
    width: 250px;
    height: 300x;
    border-radius: 5px; 
    justify-content: center;  
    align-items: center;
}

.categoriescolor{
    color: rgb(67, 52, 52); 
}

/* CATEGORY */


/* SEARCH-RESULTS */


/* LOGIN */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 70px;
    height: 300px;
    font-size: 18px;
    background-color: rgba(255, 0, 0, 0.39)
}

.contact {
    margin-top: 17px;
}

.form-input {
    width: 500px;
    height: 30px;
}

.loginlogo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* REGISTER */