* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* INDEX */


body {
    background-color: rgba(253, 217, 223, 0.51);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.links {
    font-size: 15px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.logo {
    border-radius: 90%;
}

.footer {
    background-color: rgba(255, 0, 0, 0.26);
    display: flex;
    height: 100px;
    margin-top: 75px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h1-index {
    text-align: center;
    font-weight: lighter;
    margin-top: 10px;
}

.negrita {
    font-weight: bold;
    color: red;
}

.recetitas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.receta {
    margin-top: 20px;
    text-align: center;
}

.load{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.cargar{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 30px;
    height: 35px;
}


/* RECETA */
.bodyreceta{
    background-image: url(https://i.pinimg.com/736x/97/fa/f5/97faf5fd511fed665fc7d13d6f095c00.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #AE2012;
    height: 100vh;
    
}
.bodyreceta .foto img{
    width: 500px;
    border-radius: 40px;
}
.paraelnombre{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    font-size: 38px;
   
}

.paraeltexto{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 50px 5px 50px;
    align-items: center;
    padding: 40px;
    
    
}


.paraeltexto .instrucciones{
    color: rgb(76, 43, 26);
    display: flex;
    width: 670px;
    
    
}

.paraeltexto .tiempo{
    width: 200px;
    justify-content: center;
    font-weight: 600;
    text-align: center;
    
}

.paraeltexto .foto img{
    width: 500px;
}

.paracategoria{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    color: burlywood;
}

/* CATEGORIES */

.bodycategories{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFE5EC;
}
.cat .veinte{
   
    font-size: 25px;
    
  }
.tituloCategories{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #DE4D86;
    margin-top: 20px;
    font-family: "Prompt", sans-serif;
    font-weight: 1000;
    font-style: normal;
  }
  .pregunta{
    
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    color: #E36497;
    margin-top: 5px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;

  }
.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 30px 30px 30px;
    border-radius: 70px;
    
}
.cat{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    width: 250px;
    border-radius: 5px; 
    justify-content: center;  
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 200px;
}

.categoriescolor{
    color: #FF8FAB;
    /*rgb675252 */
}

/* CATEGORY */
.imagen{
    width: 500px;
    height: 500px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.caja{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 
}
.parrafo{
    margin-left: 30px;
    margin-top: 200px;
    font-size: 17px;
}

/* SEARCH-RESULTS */





/* LOGIN */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 70px;
    height: 300px;
    width: 900px;
    font-size: 18px;
}

.contact {
    margin-top: 17px;
}

.form-input {
    width: 500px;
    height: 30px;
}

.send {
    height: 30px;
    width: 65px;
    margin-left: 215px;
}

.loginlogo {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

/* REGISTER */

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    height: 350px;
    width: 900px;
    font-size: 18px;
}

/*color: #781d48;//