* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* INDEX */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}

/* RECETA */


/* CATEGORIES */

.bodycategories{
    background-image: url(https://plus.unsplash.com/premium_photo-1699795944099-12dcf3266a55?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}
.cat p{
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
    color: #AE2012;
  }
.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 50px 30px 30px 30px;
    background-color: rgba(255, 253, 208, 0.5);
    border-radius: 70px;
}
.cat{
    display: flex;
    padding: 20px 70px 20px 70px;
    margin-top: 12px;
    width: 250px;
    height: 300x;
    border-radius: 5px; 
    justify-content: center;  
    align-items: center;
}

.categoriescolor{
    color: rgb(67, 52, 52); 
}

/* CATEGORY */


/* SEARCH-RESULTS */


/* LOGIN */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    border: 3px solid black;
    height: 300px;
    font-size: 17px;
}

.contact {
    border: 1px solid pink;
    margin-top: 17px;

}

.form-input {
    width: 500px;
    height: 30px;
}

.loginlogo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* REGISTER */